<!DOCTYPE html>
{%load staticfiles%}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
    crossorigin="anonymous">
    <link rel="stylesheet" href="{%static "css/dnews.css" %}">
  </head>
  <body>
    <div class='container'>
    <div class="jumbotron" >
      <div class="container">
        <h1>welcome to narendra news portal</h1>
        <ul>
        <a class="btn btn-primary btn-lg" href="/movies" role="button">movienews</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a class="btn btn-primary btn-lg" href="/sports" role="button">sportsnews</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a class="btn btn-primary btn-lg" href="/political" role="button">politicsnews</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a class="btn btn-primary btn-lg" href="/political" role="button">NAVEENnews</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      </ul>
        </div>
        </div>
        </div>
  </body>
</html>
